.Pos {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Satoshi', sans-serif;
  
    .content1 {
      width: 65%;
      box-sizing: border-box;
  
      .search {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 20px 0 20px;
        input {
          box-sizing: border-box;
          padding: 22px 32px;
          width: 100%;
          border-radius: 28px;
          background-color: #fff;
          color: gray;
          border: 0;
          font-size: 16px;
        }
      }
    }


    @media (max-width: 900px) {
        flex-direction: column;
    
        .content1 {
          width: 100%;
        }
      }
  }