.products {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    padding: 20px;

    @media (max-width: 1300px) {
        width: 80%;
    }

    @media (max-width: 1200px) {
        width: 90%;
    }

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 768px) {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 480px) {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .entry {
        border-radius: 12px;
        padding: 10px;
        background-color: #fff;
        max-height: 250px;
        box-sizing: border-box;


        @media (max-width: 480px) {
            max-height: 450px;
        }
        
        img {
            width: 100%;
            height: 70%;
            border-radius: 6px;
            
            @media (max-width: 480px) {
                height: 80%;
            }
        }

        .info {
            padding-top: 10px;
            width: 100%;
            
            .top {
                font-size: 20px;
                font-weight: 300;
                text-align: left;

                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                padding-top: 10px;

                .type {
                    border-radius: 14px;
                    padding: 4px 10px 4px 10px;
                    font-size: 12px;
                    background-color: rgb(253, 247, 241);
                    color: rgb(242, 198, 160);

                    @media (max-width: 480px) {
                        font-size: 12px;
                        padding: 8px 10px;
                    }
                }
            }
        }
    }
}